<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangServlet</display-name>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>controller.GioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/GioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemTheLoai</display-name>
    <servlet-name>ThemTheLoai</servlet-name>
    <servlet-class>controller.ThemTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemTheLoai</servlet-name>
    <url-pattern>/ThemTheLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaTheLoai</display-name>
    <servlet-name>SuaTheLoai</servlet-name>
    <servlet-class>controller.SuaTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaTheLoai</servlet-name>
    <url-pattern>/SuaTheLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaTheLoai</display-name>
    <servlet-name>XoaTheLoai</servlet-name>
    <servlet-class>controller.XoaTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaTheLoai</servlet-name>
    <url-pattern>/XoaTheLoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>controller.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>controller.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
</web-app>